# ========================
# OS FILES
# ========================
.DS_Store

# ========================
# LOG FILES
# ========================
*.log

# ========================
# TEMP / RUNTIME FILES
# ========================
tmp/

# ========================
# GO BUILD FILES
# ========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
main

# ========================
# ENV FILES
# ========================
.env
backend/.env



# ========================
# IDE FILES
# ========================
.vscode/
.idea/